In [1]:
import pandas as pd

data = {'Name': ['Ali', 'Sara', 'John'], 'Score': [85, 90, 78]}
df = pd.DataFrame(data)
print(df)

   Name  Score
0   Ali     85
1  Sara     90
2  John     78